.homeContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2em;
}

.containerDashboard {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.dashboard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    grid-gap: 20px; /* Espaçamento entre os cards */
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinha os itens do card no topo */
    /* align-items: center; Centraliza horizontalmente */
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Alinha o texto ao centro */
}

.card h3 {
    margin-top: 0; /* Remove margem superior do h3 */
}

.card h3,
.card p {
    margin-bottom: 3%; /* Define espaçamento inferior para o p */
}

.calendarContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha o calendário ao centro */
    width: 50%;
}

.calendar {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.568); /* Fundo transparente */
    border-radius: 10px;
    padding: 20px;
    width: 320px; /* Largura fixa para o calendário */
    margin-left: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.calendarHeader {
    font-size: 1.5em;
    color: #9643BB; /* Cor das datas */
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; /* Adiciona cursor de pointer para interatividade */
}

.calendarHeader button {
    cursor: pointer;
    background-color: #9643BB;
    color: #fff;
    padding: .6em;
    border: none;
    border-radius: 20%;
    font-size: 17px;
}

.calendarGrid { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); /* 3 colunas para os meses */ 
    margin-top: 10px;
    gap: 10px; /* Espaçamento entre os meses */
}

.calendarCell { 
    border: 1px solid #ddd; 
    padding: 10px; 
    text-align: center; 
    cursor: pointer;
    background-color: #f9f9f9; /* Cor de fundo das células */
    border-radius: 5px; /* Bordas arredondadas */
}

/* seleção das células do mês */
.selected {
    background-color: #9643BB; 
    color: #fff;
    font-weight: bold;
}

.calendarCell:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

.legendModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    pointer-events: auto;
}

.legendContent {
    background-color: #a557c7;
    color: #fff;
    padding: 2em;
    line-height: 1.6em;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    position: relative;
}

.closeButton {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.clientListScrollable {
    max-height: 150px;
    overflow-y: auto;
    list-style: none;
    margin: 1em 0;
    padding-right: 2em;
    line-height: 1.4;
}

.clickable {
    padding: .2em;
    margin-bottom: 2%;
    cursor: pointer;
    position: relative; /* Necessário para o efeito de borda */
}

/* Efeito de border-bottom no .clickable ao passar o cursor */
.clickable:hover {
    border-bottom: 2px solid #9643BB; /* Cor da borda inferior */
}

.red {
    color: #ff0000;
}

.orange {
    color: #FFA500; /* Cor laranja */
}

select {
    height: 60%;
    width: 40%;
    border-radius: 5px;
    border: 2px solid #ccc; /* Cor padrão da borda */
    transition: border-color 0.3s; /* Transição suave para a cor da borda */
}

select:focus {
    border-color: #9643BB; /* Cor da borda quando ativo */
    outline: none; /* Remove o contorno padrão do browser */
}

.legendLink {
    cursor: pointer;
    width: 100px; /* Largura fixa */
    text-align: center; /* Centraliza o texto dentro do botão */
    margin: 0 auto; /* Centraliza o botão horizontalmente */
    display: block; /* Necessário para que `margin: auto` funcione */
    color: #fff;
    background-color: #9643BB;
    border-radius: 5px;
    text-decoration: none;
    padding: 0.3em;
}

.linkText,
.card{
    color: #9643BB;
    text-decoration: none;
}

.datePickerContainer {
    margin: 1.5em 0;
}

.customDatePicker {
    border: 2px solid #717568;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}